MMSERVER_USERNAME=DES333888
MMSERVER_PASSWORD=Sexo247420@
MMSERVER_UPLOAD_DIR=/home/des/Desktop/mymservertest
MMSERVER_MAX_UPLOAD_MB=40
MMSERVER_SECRET_KEY=change-this-secret-key
MMSERVER_COOKIE_SECURE=true
