[Unit]
Description=Run /server redirect sync every 5 minutes

[Timer]
OnBootSec=20
OnUnitActiveSec=1min
Persistent=true
Unit=mymserver-redirect-sync.service

[Install]
WantedBy=timers.target
